@charset "UTF-8";

.data {
  display: none;
}

.g-signin2 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 940px;
  margin: 0 auto;
  background-color: #313131;
  color: white;
  text-align: center;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 940px;
  margin: 0 auto;
  background-color: #00B98E;
  color: white;
  text-align: center;
}

.element_l {
  padding-left: 5%;
  float:left;
  display:inline-block;
  width: 500px;
}

.element_c {
  float:center;
  display:inline-block;
  width: 500px;
  display: grid;
  align-items: center;
  justify-content: center;
}

.element_r {
  padding-right: 5%;
  float:right;
  display:inline-block;
  width: 500px;
}


.wrapper {
    overflow: hidden;
}

.header > div {
    display: table-cell;
}

.container {
  margin: auto
  height: 8em;
  border: 2px solid rgb(75 70 74);
  border-radius: 0.5em;
  font: 1.2em sans-serif;
  padding: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.h1 {
  color: black;
  font-family: verdana;
  src: url('../assets/fonts/Rexlia Rg.otf');
  font-size: 120%;
  font-weight: normal;
  font-style: normal;
  font-weight: bold;
}

a {
  text-decoration: none;
}

.hyperlink {
  color: white;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.searchbar {
  float: center;
  padding: 5%;
  border: none;
  margin-top: 5%;
  font-size: 17px;
}

.footer_list {
  display: flex;
  align-items: left;
  padding-right: 5%;
  float:right;
  display:inline-block;
  width: 500px;
}

.header_logo {
  display: flex;
  align-items: center;
}
