@charset "UTF-8";

.data {
  display: none;
}

.g-signin2 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #313131;
  color: white;
  text-align: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #00B98E;
  color: white;
  text-align: center;
}

#element_l {padding-left : 20px;float:left;}
#element_c {float:center;}
#element_r {padding-right : 20px;float:right;}

.wrapper {
    overflow: hidden;
}

.header > div {
    display: table-cell;
}

.container {
  height: 8em;
  border: 2px solid rgb(75 70 74);
  border-radius: 0.5em;
  font: 1.2em sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
}

.h1 {
  color: black;
  font-family: verdana;
  src: url('../assets/fonts/Rexlia Rg.otf');
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}
